@use "../utils/" as utils;

.betcommonStyle{
    display: block;
    margin: 2px;
}


.infoCommonStyle{
        width: 100%;
        text-align: center;    
}


.bodyTag{
    
    .bet{
        
        
        .betSlip{
            @extend .betcommonStyle;
            border: 4px solid orange;
            
            div{
                
                input{                   
                    .submitted{
                        pointer-events: none;
                    }
                }
                
            }
        } 
        
        
        .graph{
            @extend .betcommonStyle;
            border: 4px solid blue;
        }
    }
    
    
    .info{
        
        .Bets{
            @extend .betcommonStyle;
            border: 4px solid indianred;
            
            .hide{
                display: none;
            }
        }
        
        .chat{
            @extend .betcommonStyle;
            border: 4px solid violet;
            
            button{
                @extend .infoCommonStyle;
            }
            
            .hide{
                display: none;
            }
        }
        
        
        .history{
            @extend .betcommonStyle;
            border: 4px solid green;
            
            button{
                @extend .infoCommonStyle;
            }
            
            .hide{
                display: none;
            }
            
            .historyView{
                span{
                    overflow-x: hidden;
                }
            }
        }
    }
    
    
    .bet, .info{
            width: 100%;
            margin: .2rem;
            @include utils.ScreenSize(md){
                width: 50%;
            }
    }
}