body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 1s;
    
    &.dark{
        background-color: black;
        color: white;
        transition-duration: 1s;
    }
}