@use "../utils/" as mix;// will use it when i want to specify the screen size in the scss.

nav{
    div div{
        a{
            margin: auto 1rem;
        }
        
        .hideDropDown{
            display: none;
        }
        
        .showDropDown{
            border: 4px solid mix.$navbarBorderLight;
            display:grid;
            width: 8rem;
            height: auto;
            position: absolute;
            top: 4.2rem;
            right: 0rem; 
            overflow: hidden;
            
            a{
               width: 100%;
               text-align: center;
               font-size: 1em;
               color: black;
               background-color: white;
               margin-right: .5rem;
               margin: 0.1rem;
            }
        }
    }
}
